@model IEnumerable<T5_Hospital.Models.DonorDto>
@{
    ViewBag.Title = "List";
}

<h2>List Donors</h2>
<div>
    <a class="btn btn-primary" href="/Donor/New">New Donor</a>
    <a class="btn btn-success" href="/Donation/List">View Donations</a>
</div>
<div class="text-center my-2">
    <form action="/Donor/List" method="get">
        <input type="text" placeholder="Search Donors..." name="DonorSearch" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
</div>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">Donor First Name</th>
            <th class="text-center">Donor Last Name</th>
            <th class="text-center">Donor email</th>
            <th class="text-center">Donor phone</th>
            <th colspan="2">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donor in Model)
        {
            <tr>
                <td>@donor.DonorFirstName</td>
                <td>@donor.DonorLastName</td>
                <td>@donor.DonorEmail</td>
                <td>@donor.DonorPhone</td>
                <td>
                    <a href="/Donor/Details/@donor.DonorId">Details</a>
                </td>
                <td>
                    <a href="/Donor/Remove/@donor.DonorId">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>




