@model T5_Hospital.Models.ViewModels.NewAppointment

@{
    ViewBag.Title = "New";
}

<h2>Add Appointment</h2>
<form method="post" action="/Appointment/Create">
    <div>
        <label for="PatientId">Patient</label>
        <select name="PatientId" id="PatientId">
            @foreach (var patient in Model.AvailablePatient)
            {
                <option value=@patient.PatientId> @patient.FirstName @patient.LastName (id:@patient.PatientId)</option>
            }
        </select>
    </div>
    <div>
        <label for="StaffId">Staff</label>
        <select name="StaffId" id="StaffId">
            @foreach (var staff in Model.AvailableStaff)
            {
                <option value=@staff.Id> @staff.Name (Department:@staff.DepartmentName)</option>
            }
        </select>
    </div>
    <div>
        <label for="AppointmentDate">Appointment Date</label>
        <input id="AppointmentDate" type="datetime-local" name="AppointmentDate" />
    </div>
    <div>
        <input class="btn btn-default" type="submit" value="Submit" />
    </div>
</form>

