@model T5_Hospital.Models.ServiceDto
@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <div class="list-group-item">
                <h2 class="list-group-item-heading text-center">Service Details</h2>
                <div class="list-group-item-text">
                    <div class="row">
                        <div class="col-sm-4">Service Name</div>
                        <div class="col-sm-8">@Model.ServiceName</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Details</div>
                        <div class="col-sm-8">@Model.ServiceDetail</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <div class="list-group-item">
                <h2 class="list-group-item-heading text-center">Departments Offering this Service</h2>
                <div class="list-group-item-text">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/Department/Details/@Model.DepartmentId">@Model.DepartmentName</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-info" href="/Service/Edit/@Model.ServiceId" role="button">Update</a>
    <a class="btn btn-danger" href="/Service/Remove/@Model.ServiceId" role="button">Delete</a>
</div>

<div class="col-md-12 text-center">
    <a class="primary-light" href="/Service/List">Back to list</a>
</div>

