@model IEnumerable<T5_Hospital.Models.DepartmentDto>
@{
    ViewBag.Title = "New";
}

<h2>Add Service</h2>
<form method="post" action="/Service/Create">
    <div>
        <label for="serviceName">Service Name</label>
        <input id="serviceName" name="ServiceName" />
    </div>
    <div>
        <label for="serviceDetail">Service Details</label>
        <input id="serviceDetail" name="ServiceDetail" />
    </div>
    <div>
        <label for="departmentId">Department:</label>
        <select name="DepartmentId" id="departmentId">
            @foreach (var department in Model)
            {
                <option value="@department.DepartmentId">@department.DepartmentName</option>

            }
        </select>

    </div>
    <div>
        <input class="btn btn-default" type="submit" value="Submit" />
    </div>
</form>

