@{
    ViewBag.Title = "Home Page";
}

<div style="position:relative;top:-50px">
    <div class="jumbotron">
        <h1>Ewerton-Hospital</h1>
        <p class="lead">Our control panel for managing all the admin activities.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>View Patients</h2>
            <p>
                View the list of patients currently registered in the hospital.
            </p>
            <p><a class="btn btn-default" href="/Patient/List">View Patients &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>View Staff</h2>
            <p>View the list of staff member currently employed at the hospital.</p>
            <p><a class="btn btn-default" href="/Staff/List">View Staff &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>View Donors</h2>
            <p>View the list of individuals\organizations that have finiancially supported the hospital ($$$).</p>
            <p><a class="btn btn-default" href="/Donor/List">View Donors &raquo;</a></p>
        </div>
    </div>
</div>