
@{
    ViewBag.Title = "New";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="list-group">
            <div class="list-group-item">
                <h2 class="list-group-item-heading text-center">Add Patient</h2>
                <form class="form-horizontal" method="post" action="/Patient/Create">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="patientFName">First Name</label>
                        <div class="col-sm-8">
                            <input id="patientFName" class="form-control" type="text" name="FirstName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="patientLName">Last Name</label>
                        <div class="col-sm-8">
                            <input id="patientLName" class="form-control" type="text" name="LastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="patientDOB">Date of Birth</label>
                        <div class="col-sm-8">
                            <input id="patientDOB" type="date" name="DateOfBirth" />
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" value="Submit" />
                        <a href="/Patient/List" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>