@model T5_Hospital.Models.ViewModels.UpdateStaff
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="post" action="/Staff/Edit/@Model.SelectedStaff.Id">
    <input type="hidden" name="Id" value="@Model.SelectedStaff.Id" />
    <div>
        <label for="departmentId">Department:</label>
        <select name="DepartmentId" id="departmentId">
            @foreach (var department in Model.AvailableDepartments)
            {
                if (Model.SelectedStaff.DepartmentId == department.DepartmentId)
                {
                    <option selected value=@department.DepartmentId> @department.DepartmentName</option>
                }
                else
                {
                    <option value=@department.DepartmentId> @department.DepartmentName</option>
                }
            }
        </select>
    </div>
    <div>
        <label for="Name">Staff Name</label>
        <input id="Name" name="Name" value=@Model.SelectedStaff.Name />
    </div>
    <div>
        <label for="Email">Staff Email</label>
        <input id="Email" name="Email" value=@Model.SelectedStaff.Email />
    </div>
    <div>
        <input class="btn btn-default" type="submit" value="Submit" />
    </div>
</form>

