@model IEnumerable<T5_Hospital.Models.DepartmentDto>
@{
    ViewBag.Title = "New";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="list-group">
            <div class="list-group-item">
                <h2 class="list-group-item-heading text-center">New Career</h2>
                <form class="form-horizontal" action="/Career/Create" method="POST">
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="jobTitle">Job Title</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="jobTitle" name="Title" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="jobDescription">Job Description</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="jobDescription" name="Description" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="experienceInYears">Experience required (in years)</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="experienceInYears" name="Experience_In_Years" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label" for="departmentId">Department</label>
                        <div class="col-sm-6">
                            <select class="form-control" name="DepartmentId" id="departmentId" required>
                                @foreach (var department in Model)
                                {
                                <option class="form-control" value="@department.DepartmentId">@department.DepartmentName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button class="btn btn-primary" type="submit">Submit</button>
                            <a href="/Career/List" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>