@model IEnumerable<T5_Hospital.Models.DepartmentDto>
@{
    ViewBag.Title = "New";
}

<h2>New Career</h2>
<form method="post" action="/Career/Create">
    <div>
        <label for="jobTitle">Job Title</label>
        <input id="jobTitle" name="Title" />
    </div>
    <div>
        <label for="jobDescription">Job Description</label>
        <input id="jobDescription" name="Description" />
    </div>
    <div>
        <label for="experienceInYears">Experience required (in years)</label>
        <input id="experienceInYears" name="Experience_In_Years" />
    </div>
    <div>
        <label for="department">Department: </label>
        <select name="DepartmentId" id="departmentId">
            @foreach (var department in Model)
            {
                <option value="@department.DepartmentId">@department.DepartmentName</option>

            }
        </select>
    </div>
    <div>
        <input class="btn btn-default" type="submit" value="Submit" />
    </div>
</form>