@model T5_Hospital.Models.DepartmentDto
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <a class="btn btn-default" href="/Department/List">Go back</a>
</div>
<div>
    <a class="btn btn-primary" href="/Department/Edit/@Model.DepartmentId">Edit</a>
</div>
<div>
    <a class="btn btn-danger" href="/Department/Remove/@Model.DepartmentId">Remove</a>
</div>
<p>@Model.DepartmentName</p>
<p>@Model.DepartmentDescription</p>


