@model T5_Hospital.Models.ViewModels.DetailsDepartmentServices
@{
    ViewBag.Title = "Details";
}

<h2>Department Details</h2>
<div>
    <a class="btn btn-default" href="/Department/List">Go back</a>
</div>
<div>
    <a class="btn btn-primary" href="/Department/Edit/@Model.Department.DepartmentId">Edit</a>
</div>
<div>
    <a class="btn btn-danger" href="/Department/Remove/@Model.Department.DepartmentId">Remove</a>
</div>
<p>Department name: @Model.Department.DepartmentName</p>
<p>Description : @Model.Department.DepartmentDescription</p>
<h3>List of services</h3>
@foreach (var service in Model.Services)
{
<div>
    <a target="_blank" href="/Service/Details/@service.ServiceId">@service.ServiceName</a>
</div>

}


