@model T5_Hospital.Models.DepartmentDto
@{
    ViewBag.Title = "Remove";
}

<h2>Remove Department</h2>
<p>Are you sure you want to remove the @Model.DepartmentName ?</p>
<form method="post" action="/Department/Delete/@Model.DepartmentId">
    <div>
        <input class="btn btn-primary" type="submit" formaction="/Department/List" value="Go Back" />
    </div>
    <div>
        <input class="btn btn-danger" type="submit" value="Delete" />
    </div>
</form>


