@model T5_Hospital.Models.VisitorDto
@{
    ViewBag.Title = "Visitor Details";
}

<h2>Visitor Details</h2>

<a class="btn btn-default" href="/Visitor/List">Go back</a>
<a class="btn btn-primary" href="/Visitor/Edit/@Model.VisitorId">Edit</a>
<a class="btn btn-danger" href="/Visitor/Remove/@Model.VisitorId">Remove</a>
<br />
<br />

<b>First Name:</b><p>@Model.FirstName</p>
<b>Last Name:</b><p>@Model.LastName</p>
